@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .bg-img {
    background-image: url("./banner.png");
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 100;
  }
}
